{% extends "main.html" %}

{% block section %}
<section>
    <div>
        <form class="d-flex" action="{% url 'shelves-search' %}" method=POST>
            {% csrf_token %}
            <input class="form-control me-2" type="text" name="init_name" placeholder="Szukaj gry na swoich półkach">
            <button class="btn btn-outline-secondary" type="submit">Szukaj</button>
        </form>
        <table>
            <thead>
              <tr>
                <th>Nazwa półki</th>
                <th>Liczba gier na półce</th>
                <th>Akcje</th>
              </tr>
            </thead>
            <tbody>
              {% if shelves %}
                {% for shelf in shelves %}
                  <tr>
                    <td><a href="{% url 'shelf-search' shelf.id %}">{{shelf.name}}</a> </td>
                    <td>{{shelf.games.count}}</td>
                    <td>
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal{{shelf.id}}">Zmień nazwę</button>
                        <div class="modal fade" id="editModal{{shelf.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Zmiana nazwy półki</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form action="{% url 'edit-shelf' shelf.id%}" method="post">
                                    {% csrf_token %}
                                    <input type="text" value="{{shelf.name}}" name="name">
                                    <input type="submit" value="Zmień nazwę">
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{shelf.id}}">Usuń półkę
                        </button>
                        <div class="modal fade" id="deleteModal{{shelf.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Usuwanie półki</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <p>Czy na pewno chcesz usunąć półkę: {{shelf.name}}</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                <a href="{% url 'delete-shelf' shelf.id %}">
                                    <button type="button" class="btn btn-danger">Usuń półkę</button>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                  </tr>
                {% endfor %}
              <tr>
                <form action="{% url 'shelves' %}" method="post">
                  <td>
                      {% csrf_token %}
                      <input type="text", name="shelf_name", placeholder="Podaj nazwę nowej półki" required>
                  </td>
                    <td></td>
                    <td>
                      <input type="submit" value="Dodaj półkę">
                    </td>
                </form>
              </tr>
              {% else %}
                <tr>
                    <td> Nie masz żadnej półki </td>
                </tr>
                  <tr>
                    <form action="{% url 'shelves' %}" method="post">
                      <td>
                          {% csrf_token %}
                          <input type="text", name="shelf_name", placeholder="Podaj nazwę nowej półki" required>
                      </td>
                        <td></td>
                        <td>
                          <input type="submit" value="Dodaj półkę">
                        </td>
                    </form>
                  </tr>
              {% endif %}

            </tbody>
        </table>
    </div>
</section>
{% endblock %}